# Data Manipulation Studio

For this studio, we will revisit our California farmers looking for advice on growing pumpkins and the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [1]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import numpy as np
import matplotlib 
import matplotlib.pyplot as plt

baltimore = pd.read_csv('dataset/baltimore_9-24-2016_9-30-2017.csv')
boston = pd.read_csv('dataset/boston_9-24-2016_9-30-2017.csv')
new_york = pd.read_csv('dataset/new-york_9-24-2016_9-30-2017.csv')
philadelphia = pd.read_csv('dataset/philadelphia_9-24-2016_9-30-2017.csv')

## Clean Your Data

In the last lesson, we cleaned the data to related to San Francisco. Pull up your notebook from the last lesson and use your cleaning skills to clean the dataframes as necessary.

In [3]:
baltimore_pct_dict = {}
for col in baltimore.columns:
    pct_missing_baltimore = np.mean(baltimore[col].isnull())
    baltimore_pct_dict[col] = '{}%'.format(round(pct_missing_baltimore*100))
baltimore_pct_dict

{'Commodity Name': '0%',
 'City Name': '0%',
 'Type': '100%',
 'Package': '0%',
 'Variety': '1%',
 'Sub Variety': '84%',
 'Grade': '100%',
 'Date': '0%',
 'Low Price': '0%',
 'High Price': '0%',
 'Mostly Low': '0%',
 'Mostly High': '0%',
 'Origin': '3%',
 'Origin District': '100%',
 'Item Size': '16%',
 'Color': '80%',
 'Environment': '100%',
 'Unit of Sale': '84%',
 'Quality': '100%',
 'Condition': '100%',
 'Appearance': '100%',
 'Storage': '100%',
 'Crop': '100%',
 'Repack': '0%',
 'Trans Mode': '100%'}

In [4]:
# Clean your data here! BOSTON

boston_pct_dict = {}
for col in boston.columns:
    pct_missing_boston = np.mean(boston[col].isnull())
    boston_pct_dict[col] = '{}%'.format(round(pct_missing_boston*100))
boston_pct_dict

{'Commodity Name': '0%',
 'City Name': '0%',
 'Type': '100%',
 'Package': '0%',
 'Variety': '0%',
 'Sub Variety': '92%',
 'Grade': '100%',
 'Date': '0%',
 'Low Price': '0%',
 'High Price': '0%',
 'Mostly Low': '0%',
 'Mostly High': '0%',
 'Origin': '0%',
 'Origin District': '81%',
 'Item Size': '1%',
 'Color': '14%',
 'Environment': '100%',
 'Unit of Sale': '87%',
 'Quality': '100%',
 'Condition': '100%',
 'Appearance': '100%',
 'Storage': '100%',
 'Crop': '100%',
 'Repack': '0%',
 'Trans Mode': '100%'}

In [5]:
# Clean your data here! NEW YORK

new_york_pct_dict = {}
for col in new_york.columns:
    pct_missing_new_york = np.mean(new_york[col].isnull())
    new_york_pct_dict[col] = '{}%'.format(round(pct_missing_new_york*100))
new_york_pct_dict

{'Commodity Name': '0%',
 'City Name': '0%',
 'Type': '100%',
 'Package': '0%',
 'Variety': '0%',
 'Sub Variety': '84%',
 'Grade': '100%',
 'Date': '0%',
 'Low Price': '0%',
 'High Price': '0%',
 'Mostly Low': '0%',
 'Mostly High': '0%',
 'Origin': '0%',
 'Origin District': '87%',
 'Item Size': '7%',
 'Color': '81%',
 'Environment': '100%',
 'Unit of Sale': '78%',
 'Quality': '100%',
 'Condition': '100%',
 'Appearance': '100%',
 'Storage': '100%',
 'Crop': '100%',
 'Repack': '0%',
 'Trans Mode': '100%'}

In [6]:
# Clean your data here! PHILADELPHIA

philadelphia_pct_dict = {}
for col in philadelphia.columns:
    pct_missing_philadelphia = np.mean(philadelphia[col].isnull())
    philadelphia_pct_dict[col] = '{}%'.format(round(pct_missing_philadelphia*100))

philadelphia_pct_dict

{'Commodity Name': '0%',
 'City Name': '0%',
 'Type': '100%',
 'Package': '0%',
 'Variety': '0%',
 'Sub Variety': '79%',
 'Grade': '100%',
 'Date': '0%',
 'Low Price': '0%',
 'High Price': '0%',
 'Mostly Low': '0%',
 'Mostly High': '0%',
 'Origin': '0%',
 'Origin District': '100%',
 'Item Size': '21%',
 'Color': '100%',
 'Environment': '100%',
 'Unit of Sale': '81%',
 'Quality': '100%',
 'Condition': '100%',
 'Appearance': '100%',
 'Storage': '100%',
 'Crop': '100%',
 'Repack': '0%',
 'Trans Mode': '100%'}

In [7]:
check_columns = pd.DataFrame({'baltimore': baltimore_pct_dict,
                             'boston': boston_pct_dict,
                             'new_york': new_york_pct_dict,
                             'philadelphia': philadelphia_pct_dict})
check_columns

                baltimore boston new_york philadelphia
Commodity Name         0%     0%       0%           0%
City Name              0%     0%       0%           0%
Type                 100%   100%     100%         100%
Package                0%     0%       0%           0%
Variety                1%     0%       0%           0%
Sub Variety           84%    92%      84%          79%
Grade                100%   100%     100%         100%
Date                   0%     0%       0%           0%
Low Price              0%     0%       0%           0%
High Price             0%     0%       0%           0%
Mostly Low             0%     0%       0%           0%
Mostly High            0%     0%       0%           0%
Origin                 3%     0%       0%           0%
Origin District      100%    81%      87%         100%
Item Size             16%     1%       7%          21%
Color                 80%    14%      81%         100%
Environment          100%   100%     100%         100%
Unit of Sale          84%    87%      78%          81%
Quality              100%   100%     100%         100%
Condition            100%   100%     100%         100%
Appearance           100%   100%     100%         100%
Storage              100%   100%     100%         100%
Crop                 100%   100%     100%         100%
Repack                 0%     0%       0%           0%
Trans Mode           100%   100%     100%         100%

In [8]:
cities = [baltimore,boston,new_york,philadelphia]
empty_columns = ['Type','Grade','Environment','Quality','Condition','Appearance','Storage','Crop','Trans Mode']
for city in cities:
    city = city.drop(empty_columns, axis=1,inplace=True)

In [9]:
philadelphia.head()

,Commodity Name,City Name,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Origin District,Item Size,Color,Unit of Sale,Repack
0,PUMPKINS,PHILADELPHIA,24 inch bins,HOWDEN TYPE,NaN,09/16/2017,140,150,140,150,PENNSYLVANIA,NaN,lge,NaN,NaN,N
1,PUMPKINS,PHILADELPHIA,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,150,150,150,NEW YORK,NaN,med-lge,NaN,NaN,N
2,PUMPKINS,PHILADELPHIA,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,150,150,150,NEW YORK,NaN,med,NaN,NaN,N
3,PUMPKINS,PHILADELPHIA,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,160,150,160,PENNSYLVANIA,NaN,lge,NaN,NaN,N
4,PUMPKINS,PHILADELPHIA,36 inch bins,HOWDEN TYPE,NaN,10/01/2016,140,140,140,140,NEW JERSEY,NaN,med-lge,NaN,NaN,N

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [12]:
# Combine the four dataframes into one!
all_cities = pd.concat([baltimore,boston,new_york,philadelphia])
all_cities.tail()

,Commodity Name,City Name,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Origin District,Item Size,Color,Unit of Sale,Repack
52,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,11/05/2016,16,18.0,16,18.0,OHIO,NaN,NaN,NaN,SHELLACKED,N
53,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,08/26/2017,18,20.0,18,20.0,MICHIGAN,NaN,NaN,NaN,SHELLACKED,N
54,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,09/16/2017,16,16.0,16,16.0,OHIO,NaN,NaN,NaN,SHELLACKED,N
55,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,09/23/2017,15,16.0,15,16.0,OHIO,NaN,NaN,NaN,SHELLACKED,N
56,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,09/30/2017,15,18.0,15,18.0,OHIO,NaN,NaN,NaN,SHELLACKED,N

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of unit of sale in the Northeast region? In the last lesson, we learned that a unit of sale could be something like a bin or individually. 
2. What is the average number of pumpkins for each variety that came into terminal markets for the year by region? Pumpkin varieties include Howden and Fairytale pumpkins.

In [20]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
all_cities["Unit of Sale"].fillna('Undefined',inplace=True)
all_cities.groupby('Unit of Sale').agg({'Low Price':'mean','High Price':'mean'})

               Low Price  High Price
Unit of Sale
EACH           47.916667   59.166667
PER BIN       185.845070  206.619718
SHELLACKED     16.000000   17.545455
Undefined     133.660211  150.122359

In [22]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
all_cities.groupby('Variety').size()

Variety
BIG MACK TYPE                55
BLUE TYPE                     7
CINDERELLA                   39
FAIRYTALE                    37
HOWDEN TYPE                 224
HOWDEN WHITE TYPE             2
KNUCKLE HEAD                  9
MINIATURE                    97
MIXED HEIRLOOM VARIETIES      4
PIE TYPE                    198
dtype: int64

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [59]:
# Try the bonus mission if you have time!

In [24]:
chicago = pd.read_csv('dataset/chicago_9-24-2016_9-30-2017.csv')
detroit = pd.read_csv('dataset/detroit_9-24-2016_9-30-2017.csv')
st_louis = pd.read_csv('dataset/st-louis_9-24-2016_9-30-2017.csv')

In [28]:
chicago_pct_dict = {}
for col in chicago.columns:
    pct_missing_chicago = np.mean(chicago[col].isnull())
    chicago_pct_dict[col] = '{}%'.format(round(pct_missing_chicago*100))
detroit_pct_dict = {}
for col in detroit.columns:
    pct_missing_detroit = np.mean(detroit[col].isnull())
    detroit_pct_dict[col] = '{}%'.format(round(pct_missing_detroit*100))
st_louis_pct_dict = {}
for col in st_louis.columns:
    pct_missing_st_louis = np.mean(st_louis[col].isnull())
    st_louis_pct_dict[col] = '{}%'.format(round(pct_missing_st_louis*100))

check_columns2 = pd.DataFrame({'chicago': chicago_pct_dict,
                             'detroit': detroit_pct_dict,
                             'st_louis': st_louis_pct_dict})
check_columns2

                chicago detroit st_louis
Commodity Name       0%      0%       0%
City Name            0%      0%       0%
Type                96%    100%     100%
Package              0%      0%       0%
Variety              0%      0%       0%
Sub Variety         80%    100%      63%
Grade              100%    100%     100%
Date                 0%      0%       0%
Low Price            0%      0%       0%
High Price           0%      0%       0%
Mostly Low           0%      0%     100%
Mostly High          0%      0%     100%
Origin               0%      0%       0%
Origin District     96%    100%      90%
Item Size            0%      0%      52%
Color               83%     66%      18%
Environment        100%    100%     100%
Unit of Sale       100%    100%     100%
Quality            100%    100%     100%
Condition          100%    100%     100%
Appearance         100%    100%     100%
Storage            100%    100%     100%
Crop               100%    100%     100%
Repack               0%      0%       0%
Trans Mode         100%    100%     100%
Offerings           NaN     NaN     100%
Market Tone         NaN     NaN       0%
Price Comment       NaN     NaN     100%
Comments            NaN     NaN     100%

In [29]:
cities = [chicago,detroit,st_louis]
empty_columns = ['Type','Grade','Environment','Quality','Condition','Appearance','Storage','Crop','Trans Mode']
for city in cities:
    city = city.drop(empty_columns, axis=1,inplace=True)

In [32]:
all_cities2 = pd.concat([chicago,detroit,st_louis])
all_cities2.head()

,Commodity Name,City Name,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Origin District,Item Size,Color,Unit of Sale,Repack,Offerings,Market Tone,Price Comment,Comments
0,PUMPKINS,CHICAGO,24 inch bins,HOWDEN TYPE,NaN,09/16/2017,200.0,225.0,200.0,225.0,CANADA,ONTARIO,lge,ORANGE,NaN,N,NaN,NaN,NaN,NaN
1,PUMPKINS,CHICAGO,24 inch bins,HOWDEN TYPE,NaN,09/16/2017,200.0,220.0,200.0,220.0,ILLINOIS,NaN,lge,ORANGE,NaN,N,NaN,NaN,NaN,NaN
2,PUMPKINS,CHICAGO,24 inch bins,HOWDEN TYPE,NaN,09/23/2017,200.0,225.0,200.0,225.0,CANADA,ONTARIO,lge,ORANGE,NaN,N,NaN,NaN,NaN,NaN
3,PUMPKINS,CHICAGO,24 inch bins,HOWDEN TYPE,NaN,09/23/2017,200.0,220.0,200.0,220.0,ILLINOIS,NaN,lge,ORANGE,NaN,N,NaN,NaN,NaN,NaN
4,PUMPKINS,CHICAGO,24 inch bins,HOWDEN TYPE,NaN,09/30/2017,200.0,225.0,200.0,225.0,CANADA,ONTARIO,lge,ORANGE,NaN,N,NaN,NaN,NaN,NaN

In [33]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
all_cities2["Unit of Sale"].fillna('Undefined',inplace=True)
all_cities2.groupby('Unit of Sale').agg({'Low Price':'mean','High Price':'mean'})

               Low Price  High Price
Unit of Sale
Undefined     109.339873  111.447468

In [34]:
all_cities2.groupby('Variety').size()

Variety
FAIRYTALE                    54
HOWDEN TYPE                  86
HOWDEN WHITE TYPE            20
MINIATURE                    88
MIXED HEIRLOOM VARIETIES     27
PIE TYPE                    120
dtype: int64

In [35]:
all_cities.to_csv('dataset/all_cities.csv')